@charset "utf-8";
/* CSS Document */
/*base*/
html{color:#333;}*html{  background-image:url(about:blank);background-attachment:fixed;}body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}body,button,input,select,textarea{font:12px/1.5 \5b8b\4f53,'Microsoft YaHei',Arial}h1,h2,h3,h4,h5,h6{font-size:100%}address,caption,cite,code,dfn,em,strong,th,var,i{font-style:normal;font-weight:normal}code,kbd,pre,samp{font-family:courier new,courier,monospace}ul,ol{list-style:none}a,a:hover{text-decoration:none}fieldset,img{border:0}q:before,q:after{content:''}button,input,select,textarea{font-size:100%;outline:0}table{border-collapse:collapse;border-spacing:0}.clearfix:after{content:'\20';display:block;height:0;clear:both}.clearfix{zoom:1}.fl{float:left}.fr{float:right}
html{zoom:expression(function(ele){
	ele.style.zoom = "1";
	document.execCommand("BackgroundImageCache", false, true); 
} (this)); }
body{height: 100%; min-width: 1000px;font:14px/1.5 Arial,sans-serif,'宋体';color:#333; background: #fff;}
h1,h2,h3,h4{font:14px "Microsoft YaHei",Arial,Verdana;}
a{color: #333;}
a:hover{color:#fd8d42;}
.fontblue{color: #317ef3;}
.fontyellow{ color: #fd8d42;}
.fontgray{ color: #999;}
.font12{font-size: 12px;}
.mb10{margin-bottom: 10px;}
.center{ text-align: center;}

.icon{background: url(../images/icon.png) no-repeat 0 0;}
.w1190{ width: 1190px;margin: 0 auto;}
.wrapper{ min-height: 100%;}
.header{ width: 100%;}
.header a{ color: #fff;}
.header a:hover{ color: #fd8d42;}
.header var{ margin: 0 10px;}
.footer{ height: 80px; background: #1a6389;}
.login-top{height: 40px; padding-right: 30px; text-align: right; line-height: 40px; font-size: 12px;}
.login-top a{color: #333;}
/*logo*/
.logo{ padding-top: 100px;margin-bottom: 50px; text-align: center;}
/*搜索*/
.srh-form{position: relative; margin: 0 auto; width: 630px; font: 16px arial; background: #fff;z-index: 11; }
.drop-wrap{position: relative; width: 94px; height: 20px; padding: 9px 0px 9px 10px; border: 1px solid #d8d8d8; border-right: 0;}
.drop-cru{position: relative; height: 20px; line-height: 20px; border-right: 1px solid #d8d8d8; cursor: pointer;}
.drop-arrow{ display: inline-block;position: absolute; right: 8px; top: 2px; width: 15px;height: 15px; background-position: 0 -40px;}
.drop-option{position: absolute;top: 39px; left: -1px; width: 103px;border: 1px solid #d8d8d8; border-top: 0; background: #fff;}
.drop-option li{ padding:0 10px;  height: 40px; line-height: 40px; border-bottom: 1px solid #d8d8d8; cursor: pointer;}
.drop-option li:last-child{ border-bottom: 0;}
.drop-option li.on{ background: #f0f0f0;}
.srh-ipt{ width: 406px; height: 20px; padding: 9px 7px;border: 1px solid #d8d8d8; border-right: 0;border-left: 0; vertical-align: top; outline: none; box-shadow: none; font-size: 16px;}
.srh-btn{ display: block; width:103px; height: 38px; border: 1px solid #38f;}
.srh-submit{ cursor: pointer; width: 103px; height: 38px; padding: 0;border: 0; background: none; background-color: #38f; font-size: 16px; color: #fff; border-spacing: 0; font-weight: normal;}
.srh-submit:hover{ background-color: #317ef3;}
.srh-drop{top: 40px;left: 105px; width: 418px;}
.srh-drop li{border-bottom: 0; height: 28px;line-height: 28px;}
/*搜索列表*/
.head-srh{height: 54px; line-height: 54px; color: #fff; font-size: 12px; background: #424951;}
.head-srh .top-logo{width: 210px; height: 54px;}
.head-srh .srh-form{margin-top: 7px; color: #333; width: 600px; font-size: 14px;}
.head-srh .srh-form .srh-ipt{ font-size: 14px;}
.head-srh .srh-form .srh-btn,.head-srh .srh-form .srh-submit{ width: 73px; font-size: 14px;}

.content{margin-bottom: 20px;}
.list-wrap{position: relative; width: 210px;}
.list-wrap .item{ margin-bottom: 10px;}
.list-wrap h3{position: relative; padding:5px 10px; font-size: 14px; background: #e6f0ff; font-weight: bold;}
.list-wrap h3 a:hover{ color: #333;}
.list-wrap .arrow{display: inline-block;position: absolute;top:10px; right: 10px; width: 10px;height:10px; background: url(../images/arrow.png) no-repeat 0 0;}
.list-wrap .trans{ -webkit-transform:rotate(180deg); transform:rotate(180deg); -webkit-transform-origin:50% 50%; transform-origin:50% 50%;}

.list-wrap .txt{ display: inline-block; max-width: 100px; height: 24px; line-height: 24px; overflow: hidden; float: left;}
.list-wrap .num{ display: inline-block; float: left;}
.list-wrap li{position: relative; padding:0 15px 0 10px; cursor:pointer;height: 28px; line-height: 28px;}
.list-wrap li:hover{ background: #f0f0f0;}
.list-wrap li.on{ background: #38f; color: #fff;}
.list-wrap li .close{ position: absolute; right:8px;}
.list-wrap .lists{ margin-top: 10px;}
.list-wrap .other .tit{ display: block; padding: 0 10px; height: 28px; line-height: 28px;}
.list-wrap .second-list li{ padding-left: 20px;}
.list-wrap .second-list li{ font-size: 12px;}

.main{ width: 960px;}
.result{ padding: 15px 10px 10px;}
.result .keywords{ width: 1000px;}
.save a{margin-left: 10px;font-size: 12px; color: #666;}
.save a:hover{ color: #fd8d42;}
.save .icon{position: relative; top: 3px; display: inline-block;width: 15px;height: 15px;}
.save-icon{background-position: 0 -55px;}
.load-icon{background-position: 0 -70px;}
.keyword{ display: inline-block;margin:0 8px 8px 0; background: #38f; color: #fff; padding: 2px 5px; font-size: 12px;}
.keyword:hover{ background:#fd8d42; color: #fff; }
.keyword .close{ margin-left:8px; font-size: 12px;}
.info-wrap{ margin-bottom: 40px;}
.item-info{position: relative; padding:10px; border-top: 1px solid #e8e8e8;}
.item-info:hover{ background: #f8f8f8}
.item-info h3{ font-size:18px; margin-bottom:10px;}
.item-info .text{ font-size: 12px; color: #666; line-height:1.8; text-indent: 2em;}
.item-info .tag{display: inline-block; margin-left: 5px; padding:3px 5px; border: 1px solid #89bafe; font-size: 12px; border-radius: 3px; background: #e6f0ff; color: #3388ff;}
.item-info .zhushi em{margin-right: 10px;}

.pages a{ display: inline-block;margin-right: 10px; padding: 5px 10px;font-size: 12px; border: 1px solid #e8e8e8; color: #666;}
.pages a:hover{ border-color: #fd8d42;}
.gotop{position: fixed; bottom:100px; right: 10px;width: 48px; height: 55px; }
.gotop .gotop-icon{display: block; width: 40px; height: 40px; background: #d8d8d8;}
.gotop .gotop-icon:hover{ background: #38f;}
.gotop .gotop-icon em{display: block; width: 40px; height: 40px;background-position: 0 0;}
.no-reslut{font:20px "Microsoft YaHei";  padding: 100px; color: #999;}
/*详细内容*/
.top-fixed{ position:fixed;top:0; z-index:100; _position:absolute; _top:expression(eval(document.documentElement.scrollTop));_zoom:1;}
.detail-wrap{position: relative; margin-top: 50px;}
.detail-con{padding:0 20px; margin-bottom: 20px; width: 890px;/*font-size: 16px;*/}
.detail-con h2{font-size: 20px; margin-bottom: 40px;}
.detail-item{ margin-bottom: 20px;}
.detail-item h3{font-size: 16px; background: #f2f4f6; padding:8px 10px; margin-bottom: 20px; border-left:4px solid #38f;}
.detail-item h3 a:hover{color:#333;}
.detail-item p{line-height: 2; text-indent: 2em;}
.catalog{position: relative; width: 260px;}
.catalog-list{ padding: 20px; width:200px; background: #f2f4f6;}
.catalog-list dt h3{padding-bottom: 15px; font-size: 16px;font-weight: bold; border-bottom: 1px solid #e8e8e8;}
.catalog-list dd{padding-left: 20px; height: 40px; line-height: 40px;}