@charset "utf-8";
/*
a  #f18d22
font #333
背景色 #1a6389
灰色border #d8d8d8
浅蓝色 #38f
*/

a:hover{color:#f18d22;}
.header a{ color: #fff;}
.header a:hover{ color: #f18d22;}

.srh_btn{ border: 1px solid #38f; background-color:#38f;}
.srh_submit{ background-color: #38f;}